<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view>
	<f:metadata>
        <f:viewParam name="id" value="#{requestBean.tempUser.id}" />
	</f:metadata>

<head>
<f:loadBundle basename="messages" var="bundle" />
<title>#{bundle.addFamily}</title>
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/RepHeader.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
    <script type="text/javascript" src="includes/js/ajax.js"></script>
</head>
<body onload="showNav();setMsg('','infoMessage')">
	<h:form id="addFamily" styleClass="menuCol noborder">
	<div id="contentframe" class="content center">
		<h2>To add a new family shopping list</h2>
		
		<h4 id="infoMessage" style="infoMessage">#{familyBean.infomsg}</h4> 
		
	<h:panelGrid columns="1" cellpadding="0" >
			<br/>
	<h:panelGrid columns="4" cellpadding="1" >
		<f:facet name="header">
			<div align="left"><h:outputText value="Enter data"/></div>
		</f:facet>
		<h:outputLabel for="listname" value="shopping list name" />
		<h:outputText value="*"/>
		<h:inputText id="listname" value="#{familyBean.shoplist.listname}" size="35" required="#{true}"/>
		<h:message for="listname" errorClass="error" showSummary="#{true}" showDetail="#{false}" />

		<h:outputLabel for="email" value="Your email" />
		<h:outputText value="*"/>
		<h:inputText id="email" value="#{familyBean.shoplist.email}" size="35"  required="#{true}"/>
		<h:message for="email" errorClass="error" showSummary="#{true}" showDetail="#{false}" />
	</h:panelGrid>
	<h:panelGrid columns="4" cellpadding="1">
		* <b>Required field</b>
	</h:panelGrid>
	</h:panelGrid>
	<h:panelGrid>
		<h:panelGroup>
          	<h:commandButton value="next" actionListener="#{familyBean.addFamily}"  action="#{familyBean.navigation}" style="margin-right:5px" />
        </h:panelGroup>
	</h:panelGrid>
		<input type="hidden" value="addFamily" id="formname" name="formname"/>
	</div>
	</h:form>
	<ui:debug rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" hotkey="D" />
</body>
</f:view>
</html>