<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:h="http://java.sun.com/jsf/html" 
	  xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:t="http://myfaces.apache.org/tomahawk"
	  xmlns="http://www.w3.org/1999/xhtml">
	  
<f:view>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FileUpload</title>
<f:loadBundle var="bundle" basename="messages" />
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
    <script type="text/javascript" src="includes/js/ajax.js"></script>
</head> 
<body onload="showNav();setMsg('','infoMessage')">
	<h:form id="loadFiles" styleClass="menuCol noborder" enctype="multipart/form-data">
	<div id="contentframe" class="content center"> 
	  <h2>Upload any file to the server</h2>
	  <h4>&#160;&#160;&#160;&#160;1. first click 'Browser' to select the file</h4>
	  <h4>&#160;&#160;&#160;&#160;2. next click 'update' to send file to server </h4>
	  <h4>&#160;</h4>
		
	  <h4 id="infoMessage" style="infoMessage">#{familyBean.infomsg}#{loadFilesyBean.infomsg}</h4>
		
	<h:panelGrid columns="4" cellpadding="1" >
		<h:outputLabel for="email" value="Family email" />
		<h:outputText value="*"/>
		<h:inputText id="email" value="#{familyBean.email}" size="35"  required="#{true}" onchange="setEmailCookie(this);this.form.submit()"/> 
		<h:message for="email" errorClass="error" showSummary="#{true}" showDetail="#{false}" />
	</h:panelGrid>
		<h:panelGrid columns="1">
	        <h:panelGroup>
				<t:inputFileUpload value="#{loadFilesBean.uploadedFile}" required="true" />
				<h:commandButton value="Upload" actionListener="#{loadFilesBean.uploadFile}" />
            </h:panelGroup>
		</h:panelGrid>
	</div>
	</h:form>
	<ui:debug rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" hotkey="D" />
</body>
</f:view>
</html>
