<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view>
	<f:metadata>
        <f:viewParam name="id" value="#{requestBean.tempUser.id}" />
	</f:metadata>

<head>
<f:loadBundle basename="messages" var="bundle" />
<title>#{bundle.addFamily}</title>
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/RepHeader.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
    <script type="text/javascript" src="includes/js/ajax.js"></script>
</head>
<body onload="showNav();setMsg('','infoMessage')">
		#{familyBean.resetFamily}
		<h4 id="infoMessage" style="infoMessage">#{familyBean.infomsg} #{masterListBean.infomsg}</h4>
	<ui:debug rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" hotkey="D" />
</body>
</f:view>
</html>