<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view>
	<f:metadata>
        <f:viewParam name="id" value="#{requestBean.tempUser.id}" />
	</f:metadata>

<head>
<f:loadBundle basename="messages" var="bundle" />
<title>#{bundle.addFamily}</title>
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/RepHeader.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
    <script type="text/javascript" src="includes/js/ajax.js"></script>
</head>
<body onload="showNav();setMsg('','infoMessage')">
	<h:form id="addFamily" styleClass="menuCol noborder">
	<div id="contentframe" class="content center">
		<h2>to access or create a shopping list</h2>
		<h4 id="infoMessage" style="infoMessage">#{familyBean.infomsg} #{masterListBean.infomsg}</h4>
	<h:panelGrid columns="4" cellpadding="1" >
		<h:outputLabel for="email" value="shopping list id (email)" />
		<h:outputText value="*"/>
		<h:inputText id="email" value="#{familyBean.email}" size="35"  required="#{true}" onchange="setEmailCookie(this)"/> 
		<h:message for="email" errorClass="error" showSummary="#{true}" showDetail="#{false}" />
		<h:outputLabel for="familyList" value="Shopping list" />
		<h:outputText value=""/>
		<h:selectOneMenu value="#{familyBean.familyId}" id="familyList" immediate="true" onchange="this.form.submit()">
			<f:selectItem itemLabel="Select a family list" itemValue="" />
			<f:selectItems value="#{familyBean.familyList}" /> 
		</h:selectOneMenu>
		<h:message for="familyList" errorClass="error" showSummary="#{true}" showDetail="#{false}" />
	</h:panelGrid>
	<h:panelGrid>
		<h:panelGroup>
          	<h:commandButton value="next" actionListener="#{familyBean.familyViaEmail}"  action="#{familyBean.navigation}" style="margin-right:5px" />
        </h:panelGroup>
	</h:panelGrid>
		<input type="hidden" value="addFamily" id="formname" name="formname"/>
	</div>
	</h:form>
	<ui:debug rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" hotkey="D" />
</body>
</f:view>
</html>