<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://java.sun.com/jsf/facelets" >
<head>
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/table-style.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/modal.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script>
    <script type="text/javascript" src="includes/js/ajax.js"></script>
</head>  
<body onload='showNav("storeNavigation.xhtml");setMsg("","infoMessage");getJSONObj();initShoppingList("#{masterListBean.storename}")'> 
	<h:form id="activeLists" styleClass="menuCol noborder"> 
		<div id="contentframe" class="center">
		  <h2>List name "#{masterListBean.shoplist.listname}"</h2> 
		  <h2 id="storeTitle">#{masterListBean.storename}</h2> 
		  <h5>If you would like to see the full list. Just leave the input field blank and hit 'refresh'</h5>
		  
		  <h4>Enter a partial item name or its full name</h4>
		  partial item name  <input type="text" id="chooseItem" oninput='return initStoreList("")'/>
		  <h4>&#160;</h4>
		  <h4 id="infoMessage" style="infoMessage">#{familyBean.infomsg}<br/>#{masterListBean.infomsg}</h4> 
		  
		  <table id="salesbutton" style="display:none">
		  <tr>
		    <td><button onclick='return cleanSalesInfo()'>ignore</button></td>
			<td>or</td>
			<td><button onclick='return showSalesInfo()'>show</button></td>
			<td>sale list</td>
			</tr>
		  </table>
		  <h4>&#160;</h4>
		  <table id="salesTable" style="display:none">
		  </table>

			<h:panelGroup>
	          	<h:commandButton class="topright" value="Update" onclick="return bldJSON('jsonarray')" actionListener="#{masterListBean.updateCheckedList}" action="#{masterListBean.navigation}" />
				<b>alpha Sort<h:selectBooleanCheckbox id="alphasort" onclick='return alphaSort()' />
				<a style="padding-left: 50px;" href="javascript:bldTempItem()">Build temp Item</a></b>
	        </h:panelGroup>
		  <div id="selectList">
		  </div>
		</div>
		
		<div id="myModal" class="modal">
		<div class="modal-content">
		  <b>Enter item</b>
		  <input type="text" onblur="addTempItem(this)"/><br/>
		  <button type="button"><b>Add Item</b></button>
		</div>
	    </div>

		<h:outputText id="jsonobj" value="#{masterListBean.jsonObj}" escape="false" style="display:none"/>
		<input type="hidden" value="" id="storename" name="storename"/>
		<input type="hidden" value="" id="jsonarray" name="jsonarray"/>
		<input type="hidden" value="#{masterListBean.shoplist.listname}" id="listname" name="listname"/>
		<input type="hidden" value="#{familyBean.email}" id="email" name="email"/>
	</h:form>
</body> 
</html> 
