<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" >
  <head>
    <link rel="stylesheet" href="includes/css/scrollNav.css" type="text/css"></link>
    <link rel="stylesheet" href="includes/css/style.css" type="text/css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="includes/js/shoplist.js"></script>
    <script type="text/javascript" src="includes/js/shoplistSupport.js"></script> 
    <script type="text/javascript" src="includes/js/ajax.js"></script>
  </head>  
  <body onload="showNav('mainNavigation.xhtml');setMsg('','infoMessage');bldUpdateItems('updateItems:admin')"> 
	<h:form id="updateItems" styleClass="menuCol noborder">
	<div id="contentframe" class="center">
	  <h2>Update items from shopping list</h2> 
		
		  <h5>If you would like to see the full list. Just leave the input field blank and hit 'refresh'</h5>
		  
		  <h4>Enter a partial item name or its full name</h4>
		  partial item name : <input type="text" id="chooseItem" onfocusout="refreshAdminTbl('chooseItem','admin')"/>
		  <h4>&#160;</h4>
	  <h4 id="infoMessage" style="infoMessage">#{masterListBean.infomsg}</h4>
	  <h:panelGrid columns="1" cellpadding="1" >
		<h:dataTable id="admin" value="" border="2" cellpadding="5" cellspacing="2">
			<h:column>Item name</h:column>
			<c:forEach items="#{masterListBean.allStoresNames.toArray()}" var="key">
				<h:column>#{key}</h:column> 
			</c:forEach>
		</h:dataTable>
	  </h:panelGrid>
	  <h:panelGroup>
	   	<h:commandButton value="Update item" onclick="return JSONFullTable('updateItems:admin','jsonarray')" actionListener="#{masterListBean.updateItems}" style="margin-right:5px" />
	  </h:panelGroup>
		<h:outputText id="jsonobj" value="#{masterListBean.jsonObj}" escape="false" style="display:none"/>
	  <input type="hidden" value="updateItems" id="formname" name="formname"/>
	  <input type="hidden" value="" id="jsonarray" name="jsonarray"/>
	</div>
	</h:form>
  </body> 
</html> 
